<div id="live_search_success_key" class="hidden">success</div>

<select size="10" class="form-control" id="card_selector" style="height: 185px; overflow-y:hidden;">
  <% @objects.each do |object| %>
    <option value="<%= object.name %>" title="<%= object.name %>"> 
      <%= object.name %>
    </option>
  <% end %>

  <% if @objects.empty? %>
  <option disabled>
    No Results
  </option>
  <% end %>>
</select>

<div id="set_results">
</div>
 
<script>
  $("#deposit_button").addClass("disabled");
  $("#withdraw_button").addClass("disabled");
  card_selection_complete = false;

  $("#card_selector").on("change", function() {
    var selected_card = $("#card_selector option:selected").text().trim();
    $.ajax({
      url: "/setsearch?search="+selected_card,
      dataType: "html",
      type: "GET",
      success: function (data) {
        var html = $('<div />').append(data);
        if ( html.find("#set_search_success_key").text().trim() !== "success" ) {
          $("#transfer_error_modal").modal("show");
        }
        $("#set_results").html(html);
      },
      error: function ( ) {
        $("#transfer_error_modal").modal("show");      }
    })
  });

</script>


