<h2>Reset your password with DrawDiscard.com.</h2>
<h4>Enter this reset code, '<%= @user.confirmation_code %>' <%= link_to "here", reset_password_url(email: @user.email, reset_code: @user.confirmation_code, reset_view: true) %>.</h4>
<h3>-DrawDiscard</h3>

