<div id="transfer_error_modal" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content panel-danger">
      <div class="modal-body panel-body ">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title "> An error has occured. </h4>        
      </div>
    </div>
  </div>
</div>

<script>

$("#transfer_error_modal").on("hide.bs.modal", function(e) {
  location.reload();     
})

</script>
